.button {
  font-family: $primary-font-family;
  font-weight: bold;
  border: 1px solid $black;
  background: transparent;
  color: $black;
  letter-spacing: rem-calc(5.6);
  text-transform: uppercase;
  text-align: center;
  @include responsive-type(14, 12);
  width: rem-calc(270);
  @include responsive-padding("vert", 26);
  transition: .6s all;
  display: inline-block;

  &:hover,
  &:active,
  &:focus {
    background: $black;
    color: $white;
    cursor: pointer;
  }
}

.button-priced-plan {
  font-family: $primary-font-family;
  font-weight: bold;
  background: $black;
  color: $white;
  letter-spacing: rem-calc(1.2);
  text-transform: uppercase;
  @include responsive-type(12,16);
  @include responsive-padding('horz', rem-calc(45));
  @include responsive-padding('vert', rem-calc(15));
  transition: .3s all;
 
  &:hover,
  &:active,
  &:focus {
    background: $yellow;
    color: $black;
    cursor: pointer;
    position: relative;
  }
}