.site-header {
    padding: rem-calc(22 0);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    color: $white;

    &.is-stuck {
        background: $white;
        z-index: 999;
        box-shadow: 2px 0 5px rgba(0,0,0,.22);
        color: $black;

        .hamburger .hamburger-line {
          background: $black;
        }
      }
}

.sticky-container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }