// .cell {
//   display: flex;
// }

// .cell .inner {
//   display: flex;
//   flex-direction: column;
// }

.cell {
    .inner {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }
  
  .has-2-cols {
    > .cell {
      @include breakpoint(small only) {
        margin-top: 0;
  
        &.medium-order-2 {
          margin-top: rem-calc(24);
        }
      }
    }
  }